extends layout

block content
  .container
    form.form-horizontal(id='signup-form', method='POST')
      input(type='hidden', name='_csrf', value=token)
      legend Complete Registration
      .form-group
        label.col-sm-3.control-label(for='firstName') First Name
        .col-sm-7
          input.form-control(type='text', name='firstName', value=user.firstName, placeholder='First Name', autofocus)
      .form-group
        label.col-sm-3.control-label(for='lastName') Last Name
        .col-sm-7
          input.form-control(type='text', name='lastName', value=user.lastName, placeholder='Last Name')
      .form-group
        label.col-sm-3.control-label(for='gender') Gender
        .col-sm-7
          label.radio-inline
            input(type='radio', name='gender', value='male', checked=user.gender=='male')
            | Male
          label.radio-inline
            input(type='radio', name='gender', value='female', checked=user.gender=='female')
            | Female
      .form-group
        label.col-sm-3.control-label(for='birthday') Birthday
        .col-sm-7
          input.form-control(type='text', name='birthday', value=user.birthday, placeholder='02/06/2014')
      .form-group
        label.col-sm-3.control-label(for='location') Location
        .col-sm-7
          input.form-control(type='text', name='location', value=user.location, placeholder='New York, United States')
      .form-group
        label.col-sm-3.control-label(for='hereFor') I am here for...
        .col-sm-7
          select.form-control
            option Make new friends
            option Chat
            option Date

      .form-group
        .col-sm-offset-3.col-sm-7
          button.btn.btn-success(type='submit')
            i.fa.fa-check
            | Signup
